//
//  AppConfig-External-Debug.xcconfig
//  MPOL
//
//  Created by QHMW64 on 22/8/17.
//  Copyright © 2017 Gridstone. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-APNS Extension/Pods-APNS Extension.external-debug.xcconfig"

APP_GROUP_ID=group.enterprise.gridstone.pscore.external
SHARED_KEYCHAIN_ACCESS_GROUP=enterprise.gridstone.pscore.shared.external

OTHER_SWIFT_FLAGS = $(inherited) -DEXTERNAL
