//
//  AppConfig-Internal.xcconfig
//  MPOL
//
//  Created by QHMW64 on 22/8/17.
//  Copyright © 2017 Gridstone. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-MPOL/Pods-MPOL.internal-release.xcconfig"

PRODUCT_NAME=PS Core Search
CONFIG_HOST_URL=dev-demo-api.pscore.mobi

APP_GROUP_ID=group.enterprise.gridstone.pscore

SEARCH_URL_TYPE_ID=enterprise.gridstone.pscore.search
SEARCH_URL_TYPE_SCHEME=pscoresearch

CAD_URL_TYPE_ID=enterprise.gridstone.pscore.cad
CAD_URL_TYPE_SCHEME=pscorecad

HOCKEY_APP_IDENTIFIER=f9141bb9072344a5b316f83f2b2417a4
HOCKEY_SECRET=5de18549749959214aa44495e09faad5

SHARED_KEYCHAIN_ACCESS_GROUP=enterprise.gridstone.pscore.shared

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CONFIG_HOST_URL="@\"$(CONFIG_HOST_URL)\"" CAD_URL_TYPE_SCHEME="@\"$(CAD_URL_TYPE_SCHEME)\"" CONFIG_HOCKEY_APP_IDENTIFIER="@\"$(HOCKEY_APP_IDENTIFIER)\"" CONFIG_HOCKEY_SECRET="@\"$(HOCKEY_SECRET)\""

OTHER_SWIFT_FLAGS = $(inherited) -DINTERNAL

ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-Internal
