//
//  AppConfig-cad-release.xcconfig
//  MPOL
//
//  Created by QHMW64 on 22/8/17.
//  Copyright © 2017 Gridstone. All rights reserved.
//

#include "../../Pods/Target Support Files/Pods-CAD/Pods-CAD.release.xcconfig"

PRODUCT_NAME=PS Core Tasks
CONFIG_HOST_URL=dev-cad-api.pscore.mobi

APP_GROUP_ID=group.enterprise.gridstone.pscore

SEARCH_URL_TYPE_ID=enterprise.gridstone.pscore.search
SEARCH_URL_TYPE_SCHEME=pscoresearch

CAD_URL_TYPE_ID=enterprise.gridstone.pscore.cad
CAD_URL_TYPE_SCHEME=pscorecad

SHARED_KEYCHAIN_ACCESS_GROUP=enterprise.gridstone.pscore.shared

HOCKEY_APP_IDENTIFIER=6344d682b59c4ec5970c03192625efff
HOCKEY_SECRET=96bd361e7ec8fc1cba9c16bbc1118813

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CONFIG_HOST_URL="@\"$(CONFIG_HOST_URL)\"" SEARCH_URL_TYPE_SCHEME="@\"$(SEARCH_URL_TYPE_SCHEME)\"" CONFIG_HOCKEY_APP_IDENTIFIER="@\"$(HOCKEY_APP_IDENTIFIER)\"" CONFIG_HOCKEY_SECRET="@\"$(HOCKEY_SECRET)\""

OTHER_SWIFT_FLAGS = $(inherited)

ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-Internal
