<style>
    body { font-family:-apple-system;font-size:17; }
    h2 { font-size:22; }
    .special-red { color: #ff0000; }
    ul { font-size:15; }
    .example { font-size:15; color: #999999; }
</style>
