//
//  AppConfig-External-Debug.xcconfig
//  MPOL
//
//  Created by QHMW64 on 22/8/17.
//  Copyright © 2017 Gridstone. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-MPOL/Pods-MPOL.external-debug.xcconfig"

OTHER_SWIFT_FLAGS = $(inherited) -DEXTERNAL

// Placeholder file for external testing in the future of MPOL
