//
//  AppConfig-External-Release.xcconfig
//  MPOL
//
//  Created by QHMW64 on 22/8/17.
//  Copyright © 2017 Gridstone. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-MPOL/Pods-MPOL.external-release.xcconfig"

PRODUCT_NAME=PSCore
CONFIG_HOST_URL=client-demo-api.mpol.solutions




GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CONFIG_HOST_URL="@\"$(CONFIG_HOST_URL)\""

OTHER_SWIFT_FLAGS = $(inherited) -DEXTERNAL

EXCLUDED_SOURCE_FILE_NAMES = EndpointManager.framework
