//
//  AppConfig-Internal.xcconfig
//  MPOL
//
//  Created by QHMW64 on 22/8/17.
//  Copyright © 2017 Gridstone. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-MPOL/Pods-MPOL.release.xcconfig"

PRODUCT_NAME=Fish
CONFIG_HOST_URL=dev-api-2.mpol.solutions

APP_GROUP_ID=group.enterprise.gridstone.pscore

SEARCH_URL_TYPE_ID=enterprise.gridstone.pscore.search
SEARCH_URL_TYPE_SCHEME=pscoresearch



GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CONFIG_HOST_URL="@\"$(CONFIG_HOST_URL)\""

OTHER_SWIFT_FLAGS = $(inherited)
